body {
    background-image: url(https://images.unsplash.com/photo-1447710441604-5bdc41bc6517?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}

.grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    margin-top: 20px;
}

.cell {
    display: inline-block;
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}

.cell:hover {
    background: #0051ff;
}

.off {
    background-color: white;
}

.on {
    background-color: black;
}

.center {
    margin: auto;
    display: table;
    margin-top: 10px;
}

p,
h1,
h2,
h3,
h4 {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
    font-family: Arial;
}

button {
    font-family: Arial;
}
